/* @import url('https://fonts.googleapis.com/css?family=Libre+Franklin:200,300,600'); */
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,300i,600|Source+Code+Pro:300,400');

:root {
  --black: black;
  /* --lt-grey: #eee; */
  --med-grey: #aaa;
  /* --dk-grey: #444; */
  --hover: #55b8fe;
  --lb: #04488b;
  --lb-dark: #033668;
  --lb-light: #4376a8;
  --dark: rgba(0, 0, 0, .15);
  --darker: rgba(0, 0, 0, .5);
  --light: rgba(255, 255, 255, .25);
  --lighter: rgba(255, 255, 255, .5);
  --score-bkgd: #f2f8ff;
  --score: #7fbefb;
  /* --score: #81a4c5; */
  /* --warning: red; */
}

body {
  font-family: 'Libre Franklin', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
  min-width: 500px;
  min-height: 700px;
  user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  /*position: relative;*/
}

button:focus {
  outline: none;
}

#credits {
  font-size: 9.5pt;
  font-weight: 400;
  color: var(--med-grey);
  position: absolute;
  right: 5px;
  bottom: 5px;
  /*margin: 2px 0 0 0;*/
}

#credits a {
  color: var(--med-grey);
  text-decoration: none;
}

#footer {
  margin: 5px;
  font-size: 9.5pt;
  font-weight: 400;
  color: var(--med-grey);
  position: absolute;
  left: 0px;
  bottom: 0px;
}

#footer a {
  margin: 0;
  padding: 3px 5px;
  border: 1px solid white;
  border-radius: 4px;
}

#footer a:hover {
  border: 1px solid var(--dk-grey);
  color: var(--dk-grey);
}

#footer select {
  font-family: 'Libre Franklin', 'Helvetica', 'Arial', sans-serif;
  font-size: 9.5pt;
  margin: 0 5px 0 0;
  padding: 0;
  border: 1px solid white;
  color: var(--med-grey);
  background-color: white;
}

#footer select:hover {
  border: 1px solid var(--dk-grey);
  color: var(--dk-grey);
}

#footer select:focus {
  outline: none;
}

.hidden {
  display: none;
}

#leaderboard {
  width: auto;
  /* display: inline-block; */
  float: left;
  margin: 0;
  border-radius: 10px;
  border: 1px solid var(--lb);
  /* padding: 8px; */
  background-color: var(--lb);
  text-align: left;
}

#leaderboard.open {
  border-radius: 10px 0 0 10px;
}

#lb-header {
  background-color: var(--lb-dark);
  border-radius: 10px 10px 0 0;
  padding: 10px;
  height: 50px;
  color: var(--lb-light);
  position: relative;
}

#lb-header.open {
  border-radius: 10px 0 0 0;
}

#lb-header h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  /* display: inline-block; */
}

#lb-header h4 {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  font-weight: 300;
}

#lb-tools {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#lb-tools button {
  /* width: 40px; */
  /* height: 40px; */
  margin: 0 0 0 8px;
  padding: 0;
  font-size: 14pt;
  text-align: center;
  /* border-radius: 20px; */
  color: var(--lb-light);
  background-color: var(--lb-dark);
  border: none;
  /* border: 1px solid var(--lb-light); */
}

#lb-tools button.on {
  /* color: white; */
}

#lb-tools button:hover {
  color: white;
}

/* #lb-tools button:hover:after {
  content: attr(data-tooltip);
  margin: 4px 0;
  padding: 4px;
  border: 1px solid white;
  border-radius: 2px;
  background: var(--lb);
  color: white;
  font-size: 9pt;
  position: absolute;
  right: 0;
  top: 120%;
  white-space: nowrap;
  z-index: 20;
} */

#lb-body {
}

#lb-body table {
  color: white;
  font-size: 2.5em;
  margin: 0;
  border-collapse: collapse;
}

#lb-body tr {
  border-top: 2px solid var(--lb-light);
}

#lb-body tr:hover {
  /* background-color: var(--lb-hover); */
}

#lb-body td.distance {
  color: var(--lb-light);
  padding: 5px 10px 5px 15px;
}

#lb-body td.name {
  min-width: 160px;
  color: white;
  letter-spacing: -0.03em;
  padding: 5px 0 5px 10px;
}

#main {
  width: auto;
  margin-top: 15px;
  display: inline-block;
}

#notebar {
  position: absolute;
  left: 5px;
  bottom: 20px;
}

.notification {
  text-align: left;
  font-size: 9.5pt;
  line-height: 11pt;
  margin: 12px;
  padding: 12px;
  max-width: 300px;
  border-radius: 6px;
  background-color: var(--dk-grey);
  color: var(--lt-grey);
  z-index: 30;
  float: left;
}

.notification h3 {
  font-size: 9pt;
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: var(--med-grey);
  text-transform: uppercase;
}

#scorecard {
  margin: 0;
  padding-left: 15px;
  /* display: inline-block; */
  float: left;
  color: var(--lb);
  border-radius: 0 10px 10px 0;
  border: 1px solid var(--score);
}

#scorecard table {
  border-collapse: collapse;
}

#scorecard td {
  height: 1em;
  text-align: right;
  margin: 0;
  padding: 3px 3px 3px 0;
  overflow: hidden;
}

#scorecard .round {
  color: var(--score);
  text-align: center;
  letter-spacing: .05em;
  font-size: 18pt;
  font-style: italic;
  padding-right: 6px;
  border-top: 1px dashed var(--score);
}

#scorecard .name {
  font-size: 12pt;
  font-weight: 600;
  color: var(--lb);
  padding: 5px 3px 0 3px;
  min-width: 60px;
  /* font-weight: 600; */

}

#scorecard .score {
  font-size: 24pt;
  height: 1.2em;
  padding-left: 25px;
  color: var(--score);
  border-top: 1px dashed var(--score);
}

#scorecard .shaded {
  background-color: var(--score-bkgd);
}

#scorecard .sum {
  font-size: 24pt;
  padding: 0 3px 3px 10px;
  font-weight: 600;
  color: var(--lb);
}

#scorecard .tools {
  min-width: 20px;
}

.warning {
  color: var(--warning);
}

@media (max-width: 600px) {
  #credits {
    border-top: 1px solid var(--lt-grey);
    padding-top: 10px;
    position: relative;
  }
  #footer {
    position: relative;
    margin: 10px 0;
  }
}
